.content .header {
    display: flex;
    justify-content: center;
    align-items: center;
}

.content {
    width: 200px;
    height: 200px;
}


/* 
.logo {
    display: flex;
    width: 300px;
    height: 300px; 
    border-radius: 100%;
} */